.nav-content {
  display: flex;
  justify-content: space-between;
}

.head {
  font-weight: bolder;
}


@media only screen and (min-width: 680px) { 
  #mynavbar {
    flex: auto;
    transform: translateX(20%);
  }  
}

@media only screen and (min-width: 750px) { 
  #mynavbar {
    transform: translateX(25%);
  }  
}

@media only screen and (min-width: 810px) { 
  #mynavbar {
    transform: translateX(40%);
  }  
}

@media only screen and (min-width: 970px) { 
  #mynavbar {
    transform: translateX(50%);
  }  
}

@media only screen and (min-width: 1130px) { 
  #mynavbar {
    transform: translateX(60%);
  }  
}

@media only screen and (min-width: 1280) { 
  #mynavbar {
    transform: translateX(70%);
  }  
}