/* big screens */

@media screen and (min-width: 600px) and (max-width: 950px) {
  .form-content {
    width: 75%;
    border: 1px solid #198754;
    padding: 20px;
    transform: translateY(5vh);
    border-radius: 20px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1150px) {
  .form-content {
    width: 50%;
    border: 1px solid #198754;
    padding: 20px;
    transform: translateY(5vh);
    border-radius: 20px;
  }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
  .form-content {
    width: 75%;
  }
}

@media screen and (min-width: 1151px) {
  .form-content {
    width: 40%;
    border: 1px solid #198754;
    padding: 20px;
    transform: translateY(5vh);
    border-radius: 20px;
  }
}