
@media screen and (min-width: 600px) and (max-width: 950px) {
  .form-content {
    width: 75%;
    border: 1px solid #198754;
    padding: 20px;
    transform: translateY(5vh);
    border-radius: 20px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1150px) {
  .form-content {
    width: 50%;
    border: 1px solid #198754;
    padding: 20px;
    transform: translateY(5vh);
    border-radius: 20px;
  }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
  .form-content {
    width: 75%;
  }
}

@media screen and (min-width: 1151px) {
  .form-content {
    width: 40%;
    border: 1px solid #198754;
    padding: 20px;
    transform: translateY(5vh);
    border-radius: 20px;
  }
}

.dashboard-content:hover {
  box-shadow: 0 0 10px 0 #000;
  border-radius: 5px;
}
.dashboard-link:hover {
  color: #198754;
  font-weight: bolder;
} 

.footer-content {
  margin-top: 20vh;
  text-align: center;
}

.students-content {
  margin-top: 7vh;
}

.student {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .dashboard-content {
    width: 80%;
    margin: 30px;
    transform: translateX(5%);
    margin-top: 5px;
  }
  .row-1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
}


@media screen and (min-width: 768px) and (max-width: 1100px) {
  .dashboard-content {
    width: 40%;
    margin: 20px;
    transform: translateX(15%);
  }
  .dashboard-content p {
    text-align: right;
  }
}

@media screen and (min-width: 1101px) {
  .dashboard-content {
    width: 35%;
    margin: 20px;
    transform: translateX(25%);
  }
  .dashboard-content p {
    text-align: right;
  }
  .student {
    width: 20%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .student {
    margin-top: 10px;
  }
}